* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid: "header header" auto
        "sidebar nav" auto
        "sidebar article" auto
        "footer footer" auto
        / 1fr 4fr;
        gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  align-items: center;
  justify-items: stretch;
}

.header .logo {
  text-align: left;
}

.menu ul {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: end;
  column-gap: 40px;
  margin: 0px 3vw;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  background-color: #C50208;
  grid-area: sidebar;
  display: grid;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  align-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  align-content: center;
}

.nav {
  background-color: #C50208;
  grid-area: nav;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.article {
  background-color: #bccbde;
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}