body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  /* additions */
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  /* Additions */
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  /* additions */
  padding: 16px;
  flex-shrink: 0;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 200px;
  /* additions */
  padding:14px;
  width: 300px;
  
}

/* Added selectors */
.main {
  display: flex;
  flex: 1;

}
.card-container {
  display:flex;
  padding: 48px;
  flex-wrap: wrap;
  gap: 24px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.sidebar a {
  color:#eee;
  text-decoration: none;
  font-size: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
